﻿
BODY
{
	font-size: 12px;
	color: #538BFF;
	line-height: 1.166;
	font-family: Trebuchet MS;
	font-size: inherit;
	background-color: #E4E4E4;
	background-image: url(  '../img/dark_blue.jpg' );
	background-repeat: repeat;
}



TD {
	FONT-SIZE: 12px; FONT-FAMILY: Trebuchet MS; white-space:nowrap
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: Trebuchet MS; white-space:nowrap
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: Trebuchet MS;color:Gray;text-transform: uppercase
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS;color:Gray; text-transform: uppercase
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS;color:Gray
}
A {
	COLOR: #538BFF; TEXT-DECORATION: none
}
A:link {
	COLOR: #538BFF; TEXT-DECORATION: none
}
A:visited {
	COLOR: #538BFF; TEXT-DECORATION: none
}
A:hover {
	COLOR: #538BFF; TEXT-DECORATION: underline
}
.punteadin
{
	border-right: #cccccc 0px dashed;
	border-top: #cccccc 0px dashed;
	border-left: #cccccc 0px dashed;
	border-bottom: #cccccc 0px dashed;
	background-image: url( '../img/GlassShiny.png' );
	background-repeat: repeat;
}

.lisin {
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
}

fieldset {
	border: 2px #cccccc;
}

.cabeza
{
	background-image: url( '../img/button_dark_blue.PNG' );
	background-position-y: center;
	background-repeat: repeat-x;
}

.cabezaT
{
	background-position-y: center;
	background-image: url(../img/plantilla_02n.jpg); 
	background-repeat: repeat-x;
	color:White;
}

.btnhov
{
	border-top-color:Gray;
   border-left-color:Gray;
   border-right-color:Gray;
   border-bottom-color:Gray;
  /* background-image: url( '../img/button_dark_blue_alt.PNG' );*/}
   
.btn
{
	color: #000000; /*color del texto*/ /*font-weight:bold;*/
	border: 1px solid;
	border-top-color: Black;
	border-left-color: Black;
	border-right-color: Black;
	border-bottom-color: Black;
	background-image: url( '../img/button_dark_blue.PNG' );
	color:White;
}

.normalrow
{
	background-color:#dcdcdc;
	text-decoration:none;
	background-image: url(../img/20pctBlack.png); 
}

.alterrow
{
	background-color:White;
	text-decoration:none;
	background-image: url(../img/20pctBlack.png); 
}


.overrow
{
	text-decoration: underline;
	cursor: pointer;
	color:White;
}

.overrownopoint
{
	text-decoration: underline;
	color:White;
	white-space:pre-line
}

.form_input 
{
	background: #FFF url('../img/bg_searchbar.png') repeat-x 50% top; 
	border: 1px solid #888; 
	padding: 3px;
	margin-left: 0px;
	FONT-SIZE: 11px;
}

.label
{
	COLOR: #538BFF;
}

.fondo
{
	
}

.modalPop
{
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
	background-color: #E4E4E4;
	color: #000;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.invalidtxt
{
	border: 1px solid #CC3300;
	padding: 3px;
	margin-left: 0px;
	FONT-SIZE: 11px;
	color:Black;
	background-color:White;
	background-image: url(../img/20pctBlack.png); 
}

.cerrar
{
	COLOR: #538BFF; 
	TEXT-DECORATION: none
}

.wrapword
{
	white-space:normal
}

.editrow
{
	background-color: #FFFF8A;
	text-decoration: underline;
}

.headCalendar
{
	color:White;
	font-weight:bold;
	background-color: yellow;
	background-image: url(  '../img/dark_blue.jpg' );
	background-repeat: repeat;
}